.mainContainer{
  max-width: 700px;
    display: flex;
    justify-content: center;
    min-width: 320px;
    min-height: 100vh;
    margin: auto;
}

.toast{
  position: fixed;
  top: 1rem;
  left: 0.5rem;
  z-index: 10000;
  width: 15rem !important;
}

.checkBoxLarge {
  height: 20px !important;
  width: 20px !important;
  padding: 5px !important;
}
.hvrOption{
  padding: 2px;
}

.hvrOption:hover {
  cursor: pointer;
}

.hvrOpt:hover{
  cursor: pointer;
}
.form-check-input {
  float: left;
  margin-left: 0 !important; 
}

.form-switch{
  padding: 0 !important;
}
.modeWrapper{
  margin-right: 1rem;
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}

.input-group-text{
  background-color: #F8F9FA !important;
  border-radius: 0 !important;
}
.maxNmb{
  border-radius: 0 !important;
  border-top-right-radius: 6px !important;
  border-bottom-right-radius: 6px !important;
}
.yelow1{
  background-color: #FFD700 !important;
}
.yelow{
  border: 1px solid #D4A017 !important;
  color: #D4A017 !important;
}
.btn-check:checked + .yelow {
  background-color: #D4A017 !important;
  color: white !important;
  border-color: #D4A017 !important;
}

.rangeSizer{
  width: 250px;
}
.borderForm{
  border-radius: 0 !important;
}

.rozsahText{
  border-top-left-radius: 6px !important;
  border-bottom-left-radius: 6px !important;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeHolder{
  width: 350px !important;
  margin: 5rem 5rem 0 0;
}
.toggler:checked {
  background-color: transparent !important; 
  border-color: #ccc !important; 
}

.toggler:hover {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none !important; 
  outline: none !important;   
}

.toggler {
  border: 1px solid #ccc !important; 
}


.imgHolder{
  width: 80px;
  height: 80px;
}
.logoIMG{
  height: 80px;
  object-fit: cover;
  position: fixed;
  bottom: 0;
  left: 0;
}

.credentials{
  margin-top: 4.5rem;
  margin-left: -5rem;
  color: lightgray;
  font-size: 0.8rem;
}

.ftr {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  text-align: center;
  
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1700px) { 
  .rangeHolder{
    margin: 2rem 1rem 0 0;
  }
}

@media (max-width: 1450px) { 
    .rangeHolder{
      position: initial !important;
      margin: auto;
      margin-top: 1rem;
    }
}

@media (max-width: 940px) { 
  .logoIMG{
    position: inherit;
  }
  .credentials{
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .ftr{
    margin-top: 3rem;
  }
}

@media (max-width: 768px) { 
  .mainContainer {
    margin: auto;
    width: 95%;
    }
    
    #resolve{
      margin-top: 1rem !important;
    }
    
}

@media (max-width: 364px) { 
  .doubleMenu{
    flex-direction: column;
    gap: 0.3rem;
  }
  .btn-group{
    margin: 0;
  }
  .toggler{
    margin-bottom: 1rem;
  }
}
