.mainContainer{
  max-width: 800px;
}

.checkBoxLarge {
  height: 20px !important;
  width: 20px !important;
  padding: 5px !important;
}
.hvrOption{
  padding: 2px;
}

.hvrOption:hover {
  cursor: pointer;
}

.hvrOpt:hover{
  cursor: pointer;
}
.form-check-input {
  float: left;
  margin-left: 0 !important; 
}
.rangeHolder{
  margin: 5rem 5rem 0 0;
}
.form-switch{
  padding: 0 !important;
}
.modeWrapper{
  margin-right: 1rem;
  margin-top: 0.5rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.rangeHolder{
  width: 280px !important;
}
.toggler:checked {
  background-color: transparent !important; 
  border-color: #ccc !important; 
}

.toggler:hover {
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none !important; 
  outline: none !important;   
}

.toggler {
  border: 1px solid #ccc !important; 
}


input[type="number"] {
  -moz-appearance: textfield;
}
@media (max-width: 1600px) { 
    .rangeHolder{
      position: initial !important;
      margin: 1rem 5px 0 0 !important;
    }
}

@media (max-width: 768px) { 
  .mainContainer {
    margin: auto 7px;
    }
    .rangeHolder{
      position: initial !important;
      margin: 1rem 5px 0 0 !important;
    }
    .rangeHolder{
      margin: auto !important;
    }
    #resolve{
      margin-top: 1rem !important;
    }
}
