.checkBoxLarge {
  height: 20px !important;
  width: 20px !important;
  padding: 5px !important;
}
.hvrOption:hover {
  cursor: pointer;
}

/* Zvýraznenie labelu pri hoverovaní 
.form-check-input:hover + .form-check-label,
.form-check-label:hover {
  transform: scale(1.2); 
  transition: transform 0.3s ease-in-out; 
}
*/

